{{> header}}
<div></div>

<div class="d-grid justify-content-md-start pt-5">
    <div class="container col-xl-10 col-lg-10 col-12 col-sm-12 px-4 py-5 rounded-3 border shadow-lg" style="background-color: white">
        <div class="row flex-lg-row-reverse align-items-top g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <div class="shadow-lg p-3 mb-5 bg-white rounded" style="transform: rotate(5deg);">
                    <img src="public/screenshot.png"
                         class="img-fluid"
                         alt="screenshot"
                         loading="lazy"/>
                </div>
                <div class="shadow-lg p-3 mb-5 bg-white rounded" style="transform: rotate(-3deg);">
                    <img src="public/screenshot.png"
                         class="img-fluid"
                         alt="screenshot"
                         loading="lazy"/>
                </div>
                <div class="shadow-lg p-3 mb-5 bg-white rounded" style="transform: rotate(2deg);">
                    <img src="public/screenshot.png"
                         class="img-fluid"
                         alt="screenshot"
                         loading="lazy"/>
                </div>

            </div>
            <div class="col-lg-6">
                <h1 class="display-6 lh-1 mb-3">🎉Celebrate Every Achievement, Not Just Your PRs.</h1>
                <div class="pt-2">
                    <p class="lead ">
                        Even when you're not at your peak, Rekordbot highlights what went well—so you stay motivated and
                        keep progressing.
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-center pt-3">
                    <a href="/signup" class="btn btn-primary btn-lg px-4 me-md-2" role="button">Sign up</a>
                    <a href="/login" class="btn btn-outline-secondary btn-lg px-4 me-md-2" role="button">Sign in</a>
                </div>
                <div class="pt-5">
                    <h4 class="lh-1 mb-3">🥵 Not Every Day is a PR Day—And That's OK!</h4>
                    <p>
                        Rekordbot connects directly with your Strava account to analyze your efforts, focusing on the
                        positive aspects of your performance. Whether it’s your best time on a favorite segment this
                        year or
                        your longest ride in the last 90 days, Rekordbot finds the achievements that deserve
                        recognition.
                    </p>
                    <ul>
                        <li>Best Time This Year: See how you're improving, even if it’s not an all-time PR.</li>
                        <li>Longest Ride in 90 Days: Celebrate the distance milestones you've recently hit.</li>
                        <li>Fastest Segment This Spring: Track your seasonal performance and stay motivated
                            year-round.
                        </li>
                    </ul>
                </div>
                <div class="pt-3">
                    <h4 class="lh-1 mb-3">💪🏼 Positive Feedback, Always</h4>
                    <p>
                        Training can be tough, and we don’t always hit those all-time records. Rekordbot highlights your
                        recent achievements, giving you that boost of motivation exactly when you need it. Whether
                        you’re in
                        a training slump or just looking to improve steadily, Rekordbot helps you appreciate the wins
                        you’re
                        already making.
                    </p>
                </div>

                <div class="py-5">
                    <img src="public/api_logo_pwrdBy_strava_horiz_gray.png" alt="Powered by Strava"/>
                </div>
            </div>
        </div>
    </div>
</div>

<p>&nbsp;</p>
{{> footer}}
